--- 
branches: 
  only: 
    - gh-pages
    - /pages-(.*)/
cache: bundler
env: 
  global: 
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
language: ruby
matrix: 
  fast_finish: true
rvm: 
  - "2.0.0"
  - "2.1.0"
script: 
  - "bundle exec rake"
