<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://www.sdm.me/passwordless-putty/stylesheets/styles.css">
    <link rel="stylesheet" href="http://www.sdm.me/passwordless-putty/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">Passwordless-putty</a></h1>
        <p class="view"><a href="https://github.com/moutons/passwordless-putty">View the Project on GitHub <small>moutons/passwordless-putty</small></a></p>

        <ul>
          <li><a href="https://github.com/moutons/passwordless-putty/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/moutons/passwordless-putty/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/moutons/passwordless-putty">View On <strong>GitHub</strong></a></li>
        </ul>

      </header>
      <section id="main">
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/moutons">moutons</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4eb74c9f613f5d3567000004');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>